<style></style>
<page></page>
<script>
var __setCssStartTime__ = Date.now();
__wxAppCode__['pages/mine/components/recommend/recommend.wxss']();
var __setCssEndTime__ = Date.now();
(function() {
    var gf = $gwx_XC_15('./pages/mine/components/recommend/recommend.wxml');
    if (window.__wxAppCodeReadyCallback__) {
        window.__wxAppCodeReadyCallback__(gf);
    } else {
        document.dispatchEvent(new CustomEvent("generateFuncReady", {
            detail: {
                generateFunc: gf
            }
        }));
    }
})();
</script>