<style></style>
<page></page>
<script>
var __setCssStartTime__ = Date.now();
__wxAppCode__['pages_game/components/lime-painter/components/l-painter-image/l-painter-image.wxss']();
var __setCssEndTime__ = Date.now();
(function() {
    var gf = $gwx2_XC_10('./pages_game/components/lime-painter/components/l-painter-image/l-painter-image.wxml');
    if (window.__wxAppCodeReadyCallback__) {
        window.__wxAppCodeReadyCallback__(gf);
    } else {
        document.dispatchEvent(new CustomEvent("generateFuncReady", {
            detail: {
                generateFunc: gf
            }
        }));
    }
})();
</script>