<style></style>
<page></page>
<script>
var __setCssStartTime__ = Date.now();
__wxAppCode__['pages_activity/activity/components/writeactivityinfo/writeactivityinfo.wxss']();
var __setCssEndTime__ = Date.now();
(function() {
    var gf = $gwx9_XC_1('./pages_activity/activity/components/writeactivityinfo/writeactivityinfo.wxml');
    if (window.__wxAppCodeReadyCallback__) {
        window.__wxAppCodeReadyCallback__(gf);
    } else {
        document.dispatchEvent(new CustomEvent("generateFuncReady", {
            detail: {
                generateFunc: gf
            }
        }));
    }
})();
</script>